<component name="libraryTable">
  <library name="menu">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/semestral/imagem/menu/drive-download-20211207T215128Z-001.zip!/" />
      <root url="jar://$PROJECT_DIR$/src/semestral/imagem/menu/drive-download-20211207T215104Z-001.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>